<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhz.senbeiforummain.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.yhz.senbeiforummain.model.entity.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="point" column="point" jdbcType="BIGINT"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,nickname,username,
        password,point,role_id,
        phone,description,create_time,
        create_by,update_time,update_by
    </sql>
    <resultMap id="userInfoVoresultMap" type="com.yhz.senbeiforummain.model.vo.UserInfoVo">
        <id property="id" column="user_id"></id>
        <result property="nickname" column="nickname"></result>
        <result property="username" column="username"></result>
        <result property="point" column="point"></result>
        <result property="level" column="level"></result>
        <result property="phone" column="phone"></result>
        <result property="description" column="description"></result>
        <result property="sex" column="sex"></result>
        <result property="headUrl" column="head_url"></result>
        <result property="createTime" column="create_time"></result>
    </resultMap>
    <select id="getUserInfoVoById" resultType="com.yhz.senbeiforummain.model.vo.UserInfoVo">
        SELECT id,nickname,username,
               point,`level`,
               phone,description,sex,head_url,create_time
        FROM   user
        WHERE id=#{userId}
    </select>

</mapper>
